<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">ARTISTS</h1>
          <p class="intro-text">#TheAfricanHeartBEAT</p>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Check out your favourite artis's BIO</h2>
      <p>You can download Grayscale for free on the download page at Start Bootstrap. You can also get the source code directly from GitHub if you prefer. Additionally, Grayscale is the first Start Bootstrap theme to come with a LESS file for easy color customization!</p>
    </div>
    <div class="container">
      <div class="row">
        <% @artists.each do |artist| %>
          <div class="col-sm-4">
            <a href="/artists/<%= artist.id %>" class="tile purple">
              <h3 class="title"><%= artist.name  %></h3>
              <p>Short, sweet data point goes here.</p>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>



