/ footer
#footer.module.parallax.parallax-footer

/ footer
#copy-right
  .container
    .row.text-center
      %p
        CopyRight &copy; 2016
        %a{:href => "#"} SAM-O

%script{:src => "/scripts/jquery.js", :type => "text/javascript"}
%script{:src => "/css-admin/bootstrap-admin/js/bootstrap.min.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.prettyPhoto.js", :type => "text/javascript"}
