<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">About Vanza</h1>
          <p class="intro-text">#TheAfricanHeartBEAT</p>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p>Vanza is a public driven music and video chart stream across the African continent.</p>
      <p>Built on its exclusive charts with the latest African news, events and trends across all genres of music, Vanza is Africa’s most influential music media brand reaching key executives and tastemakers in and around the music business driven by millions of music fans throughout Africa. </p>
      <p>Vanza receives music and video submissions through various broadcasting platforms to become part of its exclusive chart lists which are public driven for its Top South African local charts, Top 50 African and Top 100 All African Hit List. </p>
    </div>
  </div>
</section>
