<script src='/scripts/masonry.pkgd.min.js' type='text/javascript'></script>
<script src='/scripts/isotope.pkgd.min.js' type='text/javascript'></script>
<script src='/scripts/isotope.init.js' type='text/javascript'></script>

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">GALLERY</h1>
          <p class="intro-text">Thru the eyeof the african heart beat</p>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="intro">
  <div class="intro-body">

    <div class='container'>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
	  
	  <div id='services'>
	    <div class='row'>
	      <div class='row services'>
		<div class='col-sm-9'>
		  <div class='row'>
		    <div class='grid'>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>	
<script>
  $(document).ready(function(){
    $('.grid').masonry({
      // options...
      itemSelector: '.grid-item',
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
  
  });
</script>
