<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">VANZA</h1>
          <p class="intro-text">Home of the african heart beat</p>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Check out our latest features</h2>
      <!-- Place somewhere in the <body> of your page -->
      <div class="flexslider carousel">
        
        <div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">4</a></li><li><a href="#" class="flex-active">4</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-113px, 0px, 0px);">
            <% @featured_tracks.each do |track| %>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="http://via.placeholder.com/260x200" draggable="false">
            </li>
            <% end %>
        </ul></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul></div>
    </div>
  </div>
</section>

<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>new artists</h2>
        <p>You can download Grayscale for free on the download page at Start Bootstrap. You can also get the source code directly from GitHub if you prefer. Additionally, Grayscale is the first Start Bootstrap theme to come with a LESS file for easy color customization!</p>
         <% @artists.each do |feature| %>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
            
              <img src="http://via.placeholder.com/260x200" draggable="false">
            </li>
            <% end %>
        <a href="http://startbootstrap.com/grayscale" class="btn btn-default btn-lg">Visit artist biographies</a>
      </div>
    </div>
  </div>
</section>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Check out our latest tracks</h2>
      <!-- Place somewhere in the <body> of your page -->
      <div class="flexslider carousel">
        
        <div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">4</a></li><li><a href="#" class="flex-active">4</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-113px, 0px, 0px);">
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="../common/assets/romantic.jpg" draggable="false">
            </li>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="../common/assets/feature.jpg" draggable="false">
            </li>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="../common/assets/feature2.jpg" draggable="false">
            </li>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="../common/assets/feature3.jpg" draggable="false">
            </li>
            <!-- items mirrored twice, total of 12 -->
        </ul></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul></div>
    </div>
  </div>
</section>

<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Events & Shows</h2>
        <p>You can download Grayscale for free on the download page at Start Bootstrap. You can also get the source code directly from GitHub if you prefer. Additionally, Grayscale is the first Start Bootstrap theme to come with a LESS file for easy color customization!</p>
        <a href="http://startbootstrap.com/grayscale" class="btn btn-default btn-lg">Visit artist biographies</a>
      </div>
       <% @events.each do |feature| %>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
            
              <img src="http://via.placeholder.com/260x200" draggable="false">
            </li>
        <% end %>
    </div>
  </div>
</section>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Know more about your FAVZ!</h2>
      <p>Check out your favorite artists and celebrity biographies </p>
      <!-- Place somewhere in the <body> of your page -->
      <div class="flexslider carousel">
        
        <div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">4</a></li><li><a href="#" class="flex-active">4</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(-113px, 0px, 0px);">
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="../common/assets/romantic.jpg" draggable="false">
            </li>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="../common/assets/feature.jpg" draggable="false">
            </li>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="../common/assets/feature2.jpg" draggable="false">
            </li>
            <li style="width: 210px; margin-right: 5px; float: left; display: block;">
              <img src="../common/assets/feature3.jpg" draggable="false">
            </li>
            <!-- items mirrored twice, total of 12 -->
        </ul></div><ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul></div>
    </div>
  </div>
</section>


