
<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">EVENTS</h1>
          <p class="intro-text">Feel the african heart beat</p>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="intro">
  <div class="intro-body">

    <div class='container'>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
	  
	  <div id='events'>
	    <div class='row'>
	      <div class='col-sm-12'>
		<h1 class='wow fadeInUp' data-wow-duration='1s'>EVENTS OF THE MONTH</h1>
	      </div>
	      <ul class='event-inner bxslider one'>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>
